{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_stripe_hosted_page_checkout') }}">Stripe-hosted page</a><br>
    <a href="{{ path('app_embedded_form_checkout') }}">Embedded form</a><br>
    <a href="{{ path('custom_stripe_payment_checkout') }}">Custom payment flow</a><br>
{% endblock %}
