{% extends 'base.html.twig' %}

{% block title %}Hello EmbeddedFormController!{% endblock %}

{% block body %}
    <h2>Embedded form</h2>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('return.js') }}" defer></script>
{% endblock %}
