{% extends 'base.html.twig' %}

{% block title %}Hello StripeHostedPageController!{% endblock %}

{% block body %}
    <h2>Stripe-hosted page</h2>

    <section>
        <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
    </section>
{% endblock %}
