{% extends 'base.html.twig' %}

{% block title %}Hello StripeHostedPageController!{% endblock %}

{% block body %}
    <h2>Stripe-hosted page</h2>

    <section>
        <div class="product">
            <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
            <div class="description">
                <h3>Stubborn Attachments</h3>
                <h5>$20.00</h5>
            </div>
        </div>
        <form action="{{ path('app_stripe_hosted_page_checkout') }}" method="POST">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </section>

{% endblock %}
